.login-form-container{
    background-color: lightblue;
    margin-top: 40px; 
    height: 100vh;

    .form-group-collection{
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        margin: 5px auto;

        width: 250px;
  
        .form-group{
            display: flex;
            margin: 5px 0;
            align-items: center;
            .form-label{
                font-weight: 500;
                margin-right: 5px; 
            }
            .form-input{
                width: 100%;
                border: 1px solid darkslategray;
                border-radius: 10px;
                height: 20px; 
            }
        }
        .form-submit{
            background-color: darkblue;
            color: white;
            margin: 10px 0;
            border: 1px solid darkslategray;
            border-radius: 20px;
            height: 30px;
        }
    }

}